orchestratorc/.env
/orchestratorc/orchestrator/outputs
/orchestratorc/orchestrator/uploads
/orchestratorc/__pycache__
/orchestratorc/orchestrator/__pycache__
/orchestratorc/orchestrator/__pycache__
.vscode/extensions.json
/past_case_retrieval/__pycache__
/orchestratorc/orchestrator/__pycache__
/orchestratorc/orchestrator/__pycache__
questionGen/.env
*.pyc
/questionGen/venv
